<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.geobert.efficio">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/efficio_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemEditorActivity"
            android:label="@string/change_item_name_and_dep"
            android:launchMode="singleTop"/>
        <activity
            android:name=".EditDepartmentsActivity"
            android:label="@string/manage_departments"
            android:launchMode="singleTop"/>

        <provider
            android:name=".db.DbContentProvider"
            android:authorities="fr.geobert.efficio"
            android:exported="true"/>

        <receiver android:name=".widget.TaskListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/task_list_widget_info"/>
        </receiver>

        <service
            android:name=".widget.TaskListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".widget.WidgetSettingsActivity"
            android:label="@string/title_activity_widget_settings"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
        </activity>

        <service
            android:name=".service.EfficioJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".service.InstallServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="fr.geobert.efficio.INSTALL_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.OnAlarmReceiver"/>
    </application>

</manifest>